<form action="/api/user/resetpassword" method="post" id="form">
    <label for="email"></label>
    Insert your email!
    <input type="text" name="email"> 
    <button type="submit">Send data!</button>
</form>


<script>
    
</script>