<form action="/api/session/register" method="post">
    First Name: <input type="text" name="first_name" id="first_name"><br>
    Last Name: <input type="text" name="last_name" id="last_name"><br>
    Age: <input type="text" name="age" id="age"><br>
    Email: <input type="email" name="email" id="email"><br>
    Password: <input type="password" name="password" id="password"><br>
    {{!-- Rol: <input type="text" name="rol" id="rol"><br> --}}
    <button type="submit">Register</button>
</form>