<form action="" method="post">
    Reset password for {{email}}
    <label for="password"></label>
    <input type="password" name="password" id="password">

    <label for="confirmPassword"></label>
    <input type="password" name="confirmPassword" id="confirmPassword">

    <button type="submit">Reset password</button>
</form>

